<div id="<%= dom_id submission %>">
  <p>
    <strong>Content:</strong>
    <%= submission.content %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= submission.grade %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= submission.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= submission.user_id %>
  </p>

</div>
